@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");
@font-face {
  font-family: "Amstelvar Alpha";
  src: url("../fonts/Amstelvar-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Amstelvar Alpha";
  src: url("../fonts/Amstelvar-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
  line-height: 1.5;
  color: #000;
  background-color: #f3e14f;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-inline-size: 76.875rem;
  padding-inline: 0.9375rem;
  margin-inline: auto;
}

button,
label {
  cursor: pointer;
}

@media (any-hover: hover) {
  .footer__link:hover,
  .header__nav-link:hover {
    color: #ff4500;
  }
}
/* ----------header------------------ */
.header {
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-padding-before: 1.25rem;
          padding-block-start: 1.25rem;
  -webkit-padding-after: 1.25rem;
          padding-block-end: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.5rem;
          flex: 0 0 12.5rem;
  overflow: hidden;
  cursor: pointer;
}
@media (min-width: 45.06125em) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 18.75rem;
            flex: 0 0 18.75rem;
  }
}
.header__logo img {
  aspect-ratio: 300/100;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* ---------page------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page {
  padding-block: 1.875rem;
}
.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
  padding-block: 1.25rem;
  border-radius: 0.625rem;
}
.task__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
}
.task__title {
  font-size: 1.375rem;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 45.06125em) {
  .task__title {
    font-size: 2.1875rem;
  }
}
.container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.9375rem;
}
@media (min-width: 76.875em) {
  .container-box {
    inline-size: 68.75rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 76.875em) {
  @supports (inline-size: clamp( 18.75rem , -4.726702509rem  +  95.5794504182vw , 68.75rem )) {
    .container-box {
      inline-size: clamp( 18.75rem , -4.726702509rem  +  95.5794504182vw , 68.75rem );
    }
  }
  @supports not (inline-size: clamp( 18.75rem , -4.726702509rem  +  95.5794504182vw , 68.75rem )) {
    .container-box {
      inline-size: calc(18.75rem + 50 * (100vw - 24.5625rem) / 52.3125);
    }
  }
}
@media (max-width: 24.5625em) {
  .container-box {
    inline-size: 18.75rem;
  }
}
@media (max-width: 48em) {
  .container-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.container-box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  width: 100%;
  max-width: 31.25rem;
  padding-inline: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 48em) {
  .container-box__text {
    width: 18.75rem;
  }
}
.container-box__table {
  width: 100%;
  border: 2px solid #8c8c8c;
}
@media (min-width: 76.875em) {
  .container-box__table {
    inline-size: 28.125rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 76.875em) {
  @supports (inline-size: clamp( 15.625rem , 9.7558243728rem  +  23.8948626045vw , 28.125rem )) {
    .container-box__table {
      inline-size: clamp( 15.625rem , 9.7558243728rem  +  23.8948626045vw , 28.125rem );
    }
  }
  @supports not (inline-size: clamp( 15.625rem , 9.7558243728rem  +  23.8948626045vw , 28.125rem )) {
    .container-box__table {
      inline-size: calc(15.625rem + 12.5 * (100vw - 24.5625rem) / 52.3125);
    }
  }
}
@media (max-width: 24.5625em) {
  .container-box__table {
    inline-size: 15.625rem;
  }
}
@media (max-width: 45.06125em) {
  .container-box__table {
    font-size: 0.75rem;
  }
}
.container-box thead > tr {
  background-color: #c98f09;
}
.container-box th,
.container-box td {
  border: 1px solid #a0a0a0;
  padding: 0.3125rem;
}

.movable-objects {
  position: relative;
  width: 100%;
  max-width: 31.25rem;
  min-width: 18.75rem;
  height: 43.75rem;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.movable-objects__image {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-transform 0.2s scale 0.3s;
  transition: -webkit-transform 0.2s scale 0.3s;
  transition: transform 0.2s scale 0.3s;
  transition: transform 0.2s scale 0.3s, -webkit-transform 0.2s scale 0.3s;
}
@media (max-width: 31.25em) {
  .movable-objects__image {
    max-width: 17.5rem;
    height: 31.25rem;
  }
}
.movable-objects__house {
  z-index: 0;
}
.movable-objects__dog, .movable-objects__bird {
  width: 6.25rem;
  height: 6.25rem;
  z-index: 1;
}
@media (max-width: 31.25em) {
  .movable-objects__dog, .movable-objects__bird {
    max-width: 5rem;
    height: 5rem;
  }
}

.footer,
.header {
  background-color: #333;
  color: #fff;
}

/* -------footer--------------------- */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  inline-size: 100%;
  padding: 0.625rem;
}
.footer__link {
  font-weight: 600;
  line-height: 1.2;
  font-style: italic;
  padding: 0.625rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (min-width: 45.06125em) {
  .footer__link {
    font-size: 1.25rem;
    padding: 0.625rem 1.875rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}