@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");
@font-face {
  font-family: "Amstelvar Alpha";
  src: url("../fonts/Amstelvar-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Amstelvar Alpha";
  src: url("../fonts/Amstelvar-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
  line-height: 1.5;
  color: #000;
  background-color: #f3e14f;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-inline-size: 76.875rem;
  padding-inline: 0.9375rem;
  margin-inline: auto;
}

button,
label {
  cursor: pointer;
}

@media (any-hover: hover) {
  .footer__link:hover,
  .header__nav-link:hover,
  .task__link:hover .task__title {
    color: #ff4500;
  }
}
/* -------------header---------------------- */
.header {
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-padding-before: 1.25rem;
          padding-block-start: 1.25rem;
  -webkit-padding-after: 1.25rem;
          padding-block-end: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.5rem;
          flex: 0 0 12.5rem;
  overflow: hidden;
  cursor: pointer;
}
@media (min-width: 45.06125em) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 18.75rem;
            flex: 0 0 18.75rem;
  }
}
.header__logo img {
  aspect-ratio: 300/100;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav-link {
  font-size: 1.25rem;
  color: #fff;
}
@media (min-width: 45.06125em) {
  .header__nav-link {
    font-size: 1rem;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  block-size: 6.25rem;
}
@media (max-width: 45.06125em) {
  .header__nav-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: fixed;
    top: 0;
    right: -100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    inline-size: 100%;
    block-size: 100%;
    background-color: #333;
    opacity: 0.9;
    z-index: 1;
    overflow: auto;
    -webkit-padding-before: 8.75rem;
            padding-block-start: 8.75rem;
    -webkit-padding-after: 1.875rem;
            padding-block-end: 1.875rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}
@media (max-width: 45.06125em) and (min-width: 38.74875em) {
  .header__nav-list {
    inline-size: 50%;
  }
}
.header__nav-list::before {
  content: "";
  position: fixed;
  top: 0;
  right: -100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  inline-size: 100%;
  block-size: 8.75rem;
  background-color: #333;
  z-index: 3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (min-width: 38.74875em) {
  .header__nav-list::before {
    inline-size: 50%;
  }
}
.menu-open .header__nav-list {
  right: 0;
}
.menu-open .header__nav-list::before {
  right: 0;
}

.header__icon {
  display: none;
}
@media (max-width: 45.06125em) {
  .header__icon {
    display: block;
    position: relative;
    block-size: 1.25rem;
    inline-size: 1.875rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    z-index: 2;
  }
  .header__icon::before, .header__icon::after, .header__icon span {
    content: "";
    block-size: 0.1875rem;
    inline-size: 100%;
    border-radius: 0.5rem;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #000;
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon::after {
    bottom: 0;
  }
  .header__icon span {
    top: 50%;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }
  .menu-open .header__icon::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    -webkit-margin-before: -0.0625rem;
            margin-block-start: -0.0625rem;
    background-color: #ff0000;
  }
  .menu-open .header__icon::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    -webkit-margin-after: -0.0625rem;
            margin-block-end: -0.0625rem;
    background-color: #ff0000;
  }
  .menu-open .header__icon span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}
.menu-open body {
  overflow: hidden;
}

/* ---------page------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page__practice {
  padding-block: 1.875rem;
}

.practice__title {
  font-size: 1.625rem;
  font-weight: 600;
  text-align: center;
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}
@media (min-width: 45.06125em) {
  .practice__title {
    font-size: 3rem;
  }
}
.practice .tasks-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21.875rem, 1fr));
  gap: 1.25rem;
}
.practice .tasks-list__task {
  display: grid;
  height: 8.125rem;
  overflow: hidden;
  padding: 0.625rem;
  border-radius: 0.625rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (any-hover: hover) {
  .practice .tasks-list__task:hover {
    -webkit-box-shadow: inset 0 -3em 3em rgba(243, 191, 3, 0.918), 0 0 0 2px white, 0.3em 0.3em 1em rgba(221, 132, 132, 0.6);
            box-shadow: inset 0 -3em 3em rgba(243, 191, 3, 0.918), 0 0 0 2px white, 0.3em 0.3em 1em rgba(221, 132, 132, 0.6);
  }
}
.practice .task__title {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-size: 1.5625rem;
}
@media (min-width: 45.06125em) {
  .practice .task__title {
    font-size: 1.75rem;
  }
}
.practice .task__question {
  max-height: 3.75rem;
  overflow: hidden;
}

.task,
.footer,
.header {
  background-color: #333;
  color: #fff;
}

/* ----------------footer-------------------------- */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  inline-size: 100%;
  padding: 1.875rem 0.625rem;
}
.footer__link {
  font-weight: 600;
  line-height: 1.2;
  font-size: 1.25em;
  font-style: italic;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}