@use "sass:math";

@import "_fonts.scss";

@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");

@import "_reset.scss";

@import "_mixins.scss";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================
// Мінімальна ширина сторінки
$minWidth: 393;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1200;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	width: 100%;
	line-height: 1.5;
	color: #000;
	background-color: #f3e14f;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-inline-size: toRem(1230);
	padding-inline: toRem(15);
	margin-inline: auto;
}

button,
label {
	cursor: pointer;
}

$color-white: #fff;
$color-dark: #1e2832;
$color-black: #000;
$color-red: #ff0000;

//bg
$bgcolor-yellow: #f3e14f;
$bgcolor-white: #fff;
$bgcolor-dark: #333;
$bgcolor-red: #ff0000;

@media (any-hover: hover) {
	.footer__link:hover,
	.header__nav-link:hover {
		color: #ff4500;
	}
}

/* ----------header------------------ */

.header {
	// position: fixed;
	top: 0;
	left: 0;

	z-index: 50;
	width: 100%;

	//.header__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		padding-block-start: toRem(20);
		padding-block-end: toRem(20);
		align-items: center;
		justify-content: space-between;
		gap: toRem(20);
	}
	//.header__logo
	&__logo {
		flex: 0 0 toRem(200);
		overflow: hidden;
		cursor: pointer;

		@media (min-width: toEm(720.98)) {
			flex: 0 0 toRem(300);
		}

		img {
			aspect-ratio: 300/100;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

/* ---------page------------ */

.main {
	flex-grow: 1;
}

.page {
	padding-block: toRem(30);
	//.page__task
	&__task {
	}
}

.task {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: toRem(5);

	padding-inline: toRem(10);
	padding-block: toRem(20);
	border-radius: toRem(10);

	//.task__container
	&__container {
		@include adaptiveValue("inline-size", 1200, 300);
		display: flex;
		flex-direction: column;
		// justify-content: center;
		align-items: center;
		gap: toRem(5);
	}

	//.task__title
	&__title {
		font-size: toRem(25);
		font-weight: 600;
		text-align: center;

		@media (min-width: toEm(720.98)) {
			font-size: toRem(48);
		}
	}

	//.task__text
	&__text {
		@media (min-width: toEm(720.98)) {
			font-size: toRem(20);
		}
	}

	// .task__image
	&__image {
		max-width: 100%;
		height: auto;
		margin: 20px 0;
		object-fit: contain;
	}

		//.task__div
		&__div {
			display: flex;
			flex-direction: column;
			gap: toRem(10);
			width: toRem(300);
			padding: toRem(10);
			margin: toRem(5);
			border: toRem(4) solid #937777;
			border-radius: toRem(8);
	
			& label {
				display: block;
				margin-block-end: toRem(10);
				font-weight: 600;
			}
	
			& input {
				width: 100%;
				padding: toRem(8);
				margin-block-start: toRem(5);
				border: toRem(1) solid #aaa;
				border-radius: toRem(4);
			}
		}

	// .task__subtitle
	&__subtitle {
		color: $color-red;
		&--green {
			color: #008000;
		}
		&--violet {
			color: #490080;
		}
		&--turquoise {
			color: #0e7c78;
		}
		&--blue {
			color: #0927e7;
		}
		&--italic {
			font-style: italic;
			font-weight: 600;
		}
		&--darkblue {
			color: #002c83;
		}
		@media (min-width: toEm(720.98)) {
			font-size: toRem(20);
		}
	}

	.selected {
		border: toRem(2) solid #ff0000;
		box-shadow: 0 0 toRem(10) rgba(255, 0, 0, 0.6);
	}

		// .task button
		button {
			width: toRem(100);
			height: toRem(50);
			margin: toRem(5);
			padding: toRem(5);
			font-size: toRem(20);
			background-color: #f0f0f0;
			border: toRem(2) solid #744040;
			border-radius: toRem(8);
			transition:
				background-color 0.3s,
				transform 0.2s;
	
			@media (any-hover: hover) {
				&:hover {
					background-color: #e0e0e0;
				}
			}
	
			&:active {
				background-color: #d0d0d0;
				transform: scale(0.95);
			}
		}
}

.footer,
.header {
	background-color: $bgcolor-dark;
	color: $color-white;
}

/* -------footer--------------------- */

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: toRem(15);
	inline-size: 100%;
	padding: toRem(10);

	//.footer__link
	&__link {
		font-weight: 600;
		line-height: 1.2;
		font-style: italic;
		padding: toRem(10);
		transition: color 0.3s;
		@media (min-width: toEm(720.98)) {
			font-size: toRem(20);
			padding: toRem(10) toRem(30);
			justify-content: space-around;
		}
	}
}

// ==================================================
