@use "sass:math";

@import "_fonts.scss";

@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");

@import "_reset.scss";

@import "_mixins.scss";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================
// Мінімальна ширина сторінки
$minWidth: 393;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1200;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	width: 100%;
	line-height: 1.5;
	color: #000;
	background-color: #f3e14f;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-inline-size: toRem(1230);
	padding-inline: toRem(15);
	margin-inline: auto;
}

button,
label {
	cursor: pointer;
}

$color-white: #fff;
$color-dark: #1e2832;
$color-black: #000;
$color-red: #ff0000;

//bg
$bgcolor-yellow: #f3e14f;
$bgcolor-white: #fff;
$bgcolor-dark: #333;
$bgcolor-red: #ff0000;

@media (any-hover: hover) {
	.footer__link:hover,
	.header__nav-link:hover,
	.task__link:hover .task__title {
		color: #ff4500;
	}
}

/* -------------header---------------------- */

.header {
	// position: fixed;
	top: 0;
	left: 0;

	z-index: 50;
	width: 100%;

	//.header__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		padding-block-start: toRem(20);
		padding-block-end: toRem(20);
		align-items: center;
		justify-content: space-between;
		gap: toRem(20);
	}

	//.header__logo
	&__logo {
		flex: 0 0 toRem(200);
		overflow: hidden;
		cursor: pointer;

		@media (min-width: toEm(720.98)) {
			flex: 0 0 toRem(300);
		}

		img {
			aspect-ratio: 300/100;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

/* ---------page------------ */

.main {
	flex-grow: 1;
}

.page {
	//.page__practice
	&__practice {
		padding-block: toRem(30);
	}
}

.practice {
	//.practice__container
	&__container {
	}

	//.practice__title
	&__title {
		font-size: toRem(24);
		font-weight: 600;
		text-align: center;
		margin-block-end: toRem(20);

		@media (min-width: toEm(720.98)) {
			font-size: toRem(36);
		}
	}

	// .practice__tasks-list
	&__tasks-list {
	}

	.tasks-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
		gap: toRem(20);
		@media (max-width: toEm(749.98)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: toEm(640.98)) {
			grid-template-columns: auto;
		}
		// .tasks-list__task
		&__task {
			display: grid;
			height: toRem(250);
			overflow: hidden;
			padding: toRem(10);
			border-radius: toRem(10);
			border: solid #fff toRem(2);
			transition: all 0.2s;
			@media (max-width: toEm(749.98)) {
				height: toRem(200);
			}
		}
		@media (any-hover: hover) {
			&__task:hover {
				box-shadow:
					inset 0 -3em 3em rgba(243, 191, 3, 0.918),
					0 0 0 2px white,
					0.3em 0.3em 1em rgba(221, 132, 132, 0.6);
				// background-color: #55565e;
			}
		}
	}
	.task {
		// .task__link
		&__link {
		}

		// .task__title
		&__title {
			transition: color 0.3s;

			@media (min-width: toEm(720.98)) {
				font-size: toRem(22);
			}
			color: #4ff3d2;
			font-size: toRem(20);
		}
		&__title span {
			font-size: toRem(16);
			color: #de6f06;
		}

		// .task__question
		&__question {
			max-height: toRem(190);
			overflow: hidden;
			font-style: italic;
		}
		// .task__table
		&__table {
			width: toRem(290);
			border: 1px solid #8c8c8c;
			font-size: toRem(10);
			// text-align: center;
			@media (max-width: toEm(412.98)) {
				width: toRem(270);
			}
		}

		thead > tr {
			background-color: #d1873d;
		}

		th,
		td {
			border: 1px solid #a0a0a0;
			padding: toRem(3);
		}
	}
}

.task,
.footer,
.header {
	background-color: $bgcolor-dark;
	color: $color-white;
}

/* ----------------footer-------------------------- */

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: 100%;
	padding: toRem(30) toRem(10);

	//.footer__link
	&__link {
		font-weight: 600;
		line-height: 1.2;
		font-size: toEm(20);
		font-style: italic;
		transition: color 0.3s;
	}
}

// ==================================================
