@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");
@font-face {
  font-family: "Amstelvar Alpha";
  src: url("../fonts/Amstelvar-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Amstelvar Alpha";
  src: url("../fonts/Amstelvar-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
  line-height: 1.5;
  color: #000;
  background-color: #f3e14f;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-inline-size: 76.875rem;
  padding-inline: 0.9375rem;
  margin-inline: auto;
}

button,
label {
  cursor: pointer;
}

@media (any-hover: hover) {
  .footer__link:hover,
  .header__nav-link:hover {
    color: #ff4500;
  }
}
/* ----------header------------------ */
.header {
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-padding-before: 1.25rem;
          padding-block-start: 1.25rem;
  -webkit-padding-after: 1.25rem;
          padding-block-end: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.5rem;
          flex: 0 0 12.5rem;
  overflow: hidden;
  cursor: pointer;
}
@media (min-width: 45.06125em) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 18.75rem;
            flex: 0 0 18.75rem;
  }
}
.header__logo img {
  aspect-ratio: 300/100;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* ---------page------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page {
  padding-block: 1.875rem;
}
.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.625rem;
}
.task__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
@media (min-width: 76.875em) {
  .task__container {
    inline-size: 75rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 76.875em) {
  @supports (inline-size: clamp( 18.75rem , -7.6612903226rem  +  107.5268817204vw , 75rem )) {
    .task__container {
      inline-size: clamp( 18.75rem , -7.6612903226rem  +  107.5268817204vw , 75rem );
    }
  }
  @supports not (inline-size: clamp( 18.75rem , -7.6612903226rem  +  107.5268817204vw , 75rem )) {
    .task__container {
      inline-size: calc(18.75rem + 56.25 * (100vw - 24.5625rem) / 52.3125);
    }
  }
}
@media (max-width: 24.5625em) {
  .task__container {
    inline-size: 18.75rem;
  }
}
.task__title {
  font-size: 1.5625rem;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 45.06125em) {
  .task__title {
    font-size: 3rem;
  }
}
@media (min-width: 45.06125em) {
  .task__text {
    font-size: 1.25rem;
  }
}
.task .calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem;
  gap: 0.3125rem;
  background-color: #f0f0f0;
  width: 18.75rem;
  border-radius: 0.625rem;
  border: 0.25rem solid #064842;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.task .calculator__input-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.task .calculator__input-num label {
  font-weight: 600;
}
.task .calculator__input-num input {
  padding: 0.5rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.3125rem;
  width: 100%;
}
.task .calculator__button-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 15.625rem;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.625rem;
}
.task .calculator__button {
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.3125rem;
  font-size: 1.25rem;
  background-color: #f0f0f0;
  border: 0.125rem solid #744040;
  border-radius: 0.5rem;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.2s;
  transition: background-color 0.3s, -webkit-transform 0.2s;
  transition: background-color 0.3s, transform 0.2s;
  transition: background-color 0.3s, transform 0.2s, -webkit-transform 0.2s;
}
@media (any-hover: hover) {
  .task .calculator__button:hover {
    background-color: #d4cccc;
  }
}
.task .calculator__button:active {
  background-color: #d0d0d0;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.task .calculator__res {
  width: 100%;
  padding: 0.625rem;
  font-size: 1.1rem;
  font-weight: 600;
  border: 0.125rem solid #20988e;
  border-radius: 0.3125rem;
}
.task .calculator__res span {
  padding: 0.625rem;
  color: #004d40;
}

.footer,
.header {
  background-color: #333;
  color: #fff;
}

/* -------footer--------------------- */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  inline-size: 100%;
  padding: 0.625rem;
}
.footer__link {
  font-weight: 600;
  line-height: 1.2;
  font-style: italic;
  padding: 0.625rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (min-width: 45.06125em) {
  .footer__link {
    font-size: 1.25rem;
    padding: 0.625rem 1.875rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}